header {
	background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../hero.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	.headerContainer {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		
		h1 {
			font-weight: 500;
			font-size: 4.0rem;
			text-shadow: 1px 1px black;
		}

		h2 {
			font-weight: 300;
			font-size: 1.5rem;
			margin: 25px 0 45px;
		}

		#provParks {
			font-size: 0.9rem;
			width: 40%;
			border: 0 !important;  
     		-webkit-appearance: none;  
			-moz-appearance: none;
			background: url(../downChevron.svg) white no-repeat 100% 0%; 
            padding: 8px 10px;
            border-radius: none;
		}
	}
}