body {
	font-family: 'Raleway', sans-serif;
	font-size: 62.5%;
}

.content {
	display: none;
	flex-flow: row wrap;
	height: 100vh;
	font-weight: 300;

	h1 {
		font-size: 1.5rem;
		font-weight: 400;
	}

	h2 {
		font-size: 1.1rem;
		font-weight: 300;
	}

	.container {
		width: 50%;
		// margin: 30px;
	
		.weather {
			display: flex;
			flex-flow: column wrap;
			position: relative;

			.forecastContainer {
				display: flex;
				justify-content: space-around;
			}
		}

		.weather::before {
			content: '';
			width: 90%;
			height: 1px;
			color: black;
			position: absolute;
			top: 0;
			transform: rotate(180deg);
		}
	}

}



