$red: #EA4335;
$lightblue: #e6f7ff;
$black: #333333;

body {
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}
//flex for content
.flex {
	display: flex;
}
.content {
	display: none;
	flex-flow: row wrap;
	min-height: 100vh;
	font-weight: 300;
	// background:$lightblue;

	h1 {
		font-size: 1.8rem;
		letter-spacing: 2px;
		font-weight: 500;
	}

	h2 {
		font-size: 1.4rem;
		font-weight: 300;
		letter-spacing: 1px;
	}

	h3 {
		letter-spacing: 1px;
		font-size: 0.9rem;
		font-weight: 300;
	}

	.container {
		width: 50%;
		padding: 0 50px; 
		
		.parkInfo {
			padding: 30px 0;
		}

		.weather::before, .forecast::before {
			content: '';
			width: 100%;
			height: 1px;
			background: $black;
			position: absolute;
			top: 0;
			box-shadow: 0.1px 1px 1px $black;
		}
		.weather {
			padding: 30px 0;
			display: flex;
			flex-flow: column wrap;
			position: relative;
			
			.currentWeather {
				display: flex;
				justify-content: space-around;
				align-items: center;
				
				img {
					width: 15%;
					align-content: center;
				}
				
				.currentWeatherContainer {
					flex-basis: 50%;
					padding-left: 30px;
					
					a {
						color: black;
						font-size: 0.9rem;
					}
					
					a:hover {
						color: $red;
					}
				}
			}

			.forecast {
				position: relative; 
				padding-top: 30px;

				.forecastContainer {
					display: flex;
					justify-content: space-between;
				
					.date {
						font-weight: 400;
					}
				}
			}
		}
		.social {
			padding-bottom: 30px;
		}

		.back-to-top {
			font-size: 0.9rem;

			i {
				margin-left: 15px;
			}
		}

		.back-to-top:hover {
			color: $red;
		}
	}


@media screen and (max-width: 1000px) {
	header {

		.headerContainer {
			width: 100%;
		}
	}
	
	main {
		.content {
			flex-flow: column;
			min-height: 100%;
			
			.container {
				width: 100%;
			}

			#map {
				width: 100%;
				min-height: 500px;
				bottom: 0;
				overflow: visible;
			}
		}
	}
}

@media (max-width: 770px) {
	header {

		.headerContainer {

			#provParks {
				width: 80%;
			}

		}
	}
}

@media (max-width: 414px) {

	.content h2 {
		text-align: center;
	}

	.content .container .weather .forecast .forecastContainer {
		flex-direction: column;
		align-items: center;
	}
}

}