body {
	font-family: 'Raleway', sans-serif;
}


header {
	background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../hero.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	.headerContainer {
		width: 70%;
		height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		
		h1 {
			font-weight: 300;
			font-size: 22px;
		}
	}
}



h2 {
	font-weight: 300;
	font-size: 18px;
}

select {
	width: 50%;
}

.content {
	display: flex;
	flex-flow: row wrap;
	height: 100vh;

	.container {
		width: 50%;
	
		.weather {
			display: flex;
			flex-flow: column wrap;
			position: relative;

			.forecast {
				display: flex;
				justify-content: space-around;
			}
		}

		.weather::before {
			content: '';
			width: 90%;
			height: 1px;
			color: black;
			position: absolute;
			top: 0;
			transform: rotate(180deg);
		}
	}

}



