article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

header {
  display: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../heroOptimized.jpg);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../heroOptimized.jpg);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../heroOptimized.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../heroOptimized.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  header .headerContainer {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white; }
    header .headerContainer h1 {
      font-weight: 500;
      font-size: 4.5rem;
      text-shadow: 1px 1px black; }
    header .headerContainer h2 {
      font-weight: 300;
      font-size: 1.5rem;
      margin: 25px 0 45px; }
    header .headerContainer #provParks {
      text-align: center;
      font-size: 0.9rem;
      width: 40%;
      border: 0 !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      -o-text-overflow: "";
      text-overflow: "";
      background: url(../downChevron.svg) white no-repeat 100% 0%;
      padding: 8px 10px;
      border-radius: 0; }
    header .headerContainer p {
      position: absolute;
      bottom: 10px;
      font-size: 0.8rem; }
      header .headerContainer p a {
        color: white;
        font-size: 0.8rem;
        text-decoration: none; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.content {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 100vh;
  font-weight: 300; }
  .content h1 {
    font-size: 1.9rem;
    letter-spacing: 2px;
    font-weight: 500; }
  .content h2 {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 40px; }
  .content h3 {
    letter-spacing: 1.1px;
    font-size: 0.9rem;
    font-weight: 300; }
  .content .container {
    width: 50%;
    padding: 0 50px;
    position: relative; }
    .content .container span {
      font-weight: 500; }
    .content .container .parkInfo {
      padding: 30px 0; }
      .content .container .parkInfo h1 {
        margin-bottom: 0; }
      .content .container .parkInfo h2 {
        margin-left: 5%; }
    .content .container .weather::before, .content .container .forecastContainer::before {
      content: '';
      width: 100%;
      height: 1px;
      background: #666;
      position: absolute;
      top: 0; }
    .content .container .weather {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      position: relative; }
      .content .container .weather .currentWeather {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .content .container .weather .currentWeather .currentWeatherContainerImage {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .content .container .weather .currentWeather .currentWeatherContainerImage img {
            width: 100%;
            -ms-flex-line-pack: center;
            align-content: center; }
        .content .container .weather .currentWeather .currentWeatherContainer {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          padding-left: 30px; }
          .content .container .weather .currentWeather .currentWeatherContainer a {
            color: black;
            font-size: 0.9rem; }
          .content .container .weather .currentWeather .currentWeatherContainer a:hover {
            color: #EA4335; }
      .content .container .weather .forecastContainer {
        display: none;
        position: relative;
        padding-top: 30px; }
        .content .container .weather .forecastContainer .forecast {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around; }
          .content .container .weather .forecastContainer .forecast .date {
            font-weight: 400; }
    .content .container .social {
      padding-bottom: 30px; }
    .content .container .back-to-top {
      position: relative;
      position: absolute;
      font-size: 0.9rem;
      right: 5%;
      bottom: 5%;
      background: #EA4335;
      color: white; }
      .content .container .back-to-top p {
        padding: 15px 18px;
        margin: 0; }
    .content .container .back-to-top:hover {
      color: #333333; }

button {
  background: transparent;
  border: none; }

button:hover {
  color: #EA4335; }

button.showForecast {
  border: 1px solid #333333;
  font-size: 0.9rem;
  padding: 5px 10px; }

button.hideForecast {
  font-size: 1.3rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px; }

@media screen and (max-width: 1000px) {
  header .headerContainer {
    width: 100%; }
  main .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    min-height: 100%; }
    main .content .container {
      width: 100%; }
    main .content #map {
      width: 100%;
      min-height: 500px;
      bottom: 0;
      overflow: visible; } }

@media (max-width: 770px) {
  header .headerContainer #provParks {
    width: 80%; }
  .content .container .back-to-top {
    bottom: 5%;
    right: 5%; } }

@media (max-width: 520px) {
  header .headerContainer h1 {
    font-size: 4rem; }
  header .headerContainer h2 {
    font-size: 1.3rem; }
  .content h2, .content h1 {
    text-align: center; }
  .content .container .weather .currentWeather {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 40px; }
    .content .container .weather .currentWeather h2 {
      margin: 0; }
    .content .container .weather .currentWeather .currentWeatherContainer {
      padding: 0; }
  .content .container .weather .forecastContainer .forecast {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content .container .weather .forecastContainer .forecast .day {
      width: 70%;
      margin: 0 auto;
      padding-bottom: 10px;
      border-bottom: 1px solid; }
    .content .container .weather .forecastContainer .forecast .day:last-of-type {
      padding: 0;
      border: none; }
  .content .container .back-to-top {
    display: none; } }
